In [33]:
import pandas as pd
import numpy as np
data = pd.read_csv('./dataexport3.csv')

In [34]:
data

,ProductLineID,PlanningPeriod,Material,Plant,PlannedPeriod,PeriodDiff,FieldID,Field,FieldContent
0,PCR,2022-01-01,AL19550015VAL4A00,5V01,2021-03-01,-10,ACTSLS,SalesYearMinus1,1
1,PCR,2022-01-01,AP21560017TC2SA00,5V24,2021-03-01,-10,ACTSLS,SalesYearMinus1,0
2,PCR,2022-01-01,AP27555020VHTRA02,5V04,2022-12-01,11,SLSBDG,SalesBudget,0
3,PCR,2022-01-01,AP26545021WWPPA02,5V06,2019-07-01,-30,ACTSLS,SalesYearMinus3,0
4,PCR,2022-01-01,AP25530019YUVPA02,5V10,2022-11-01,10,FNLBSFRC,FinalBaseForecast,0
...,...,...,...,...,...,...,...,...,...
2961499,PCR,2022-01-01,AP25555019WQT5A02,5V27,2021-03-01,-10,ACTSLS,SalesYearMinus1,0
2961500,PCR,2022-01-01,AP18565015TTT2A00,5V18,2021-02-01,-11,ACTSLS,SalesYearMinus1,0
2961501,PCR,2022-01-01,AP21555016VSP5A02,5V04,2022-06-01,5,SLSBDG,SalesBudget,0
2961502,PCR,2022-01-01,AP28545020WWPRA02,5V13,2022-12-01,11,FNLRLLFRC,FinalRollingForecast,4
2961503,PCR,2022-01-01,AP27530020YULVA02,5V36,2022-02-01,1,FNLRLLFRC,FinalRollingForecast,0

In [35]:
# FIlter by Actual Sales
data = data.loc[data['FieldID'] == 'ACTSLS'] 
# Drop un-needed Columns
data.drop(['FieldID', 'Field', 'PlanningPeriod', 'PeriodDiff'], axis=1, inplace=True)

C:\Users\shav.vimelindiran\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [36]:
data

        ProductLineID           Material Plant PlannedPeriod  FieldContent
0                 PCR  AL19550015VAL4A00  5V01    2021-03-01             1
1                 PCR  AP21560017TC2SA00  5V24    2021-03-01             0
3                 PCR  AP26545021WWPPA02  5V06    2019-07-01             0
8                 PCR  AL26560018HHT2A00  5V13    2020-06-01             0
10                PCR  AP20555017VSN5AQ0  5V01    2020-10-01             0
...               ...                ...   ...           ...           ...
2961491           PCR  AP23540019YUSAA02  5V16    2021-08-01             0
2961494           PCR  AP23540019YUSAA02  5V30    2020-09-01             0
2961497           PCR  AP25555020VWPPA02  5V32    2021-04-01             0
2961499           PCR  AP25555019WQT5A02  5V27    2021-03-01             0
2961500           PCR  AP18565015TTT2A00  5V18    2021-02-01             0

[1269216 rows x 5 columns]

In [37]:
data.rename(columns={'FieldContent':'Volume'}, inplace=True)
data.rename(columns={'PlannedPeriod':'Date'}, inplace=True)

C:\Users\shav.vimelindiran\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [38]:
data

        ProductLineID           Material Plant        Date  Volume
0                 PCR  AL19550015VAL4A00  5V01  2021-03-01       1
1                 PCR  AP21560017TC2SA00  5V24  2021-03-01       0
3                 PCR  AP26545021WWPPA02  5V06  2019-07-01       0
8                 PCR  AL26560018HHT2A00  5V13  2020-06-01       0
10                PCR  AP20555017VSN5AQ0  5V01  2020-10-01       0
...               ...                ...   ...         ...     ...
2961491           PCR  AP23540019YUSAA02  5V16  2021-08-01       0
2961494           PCR  AP23540019YUSAA02  5V30  2020-09-01       0
2961497           PCR  AP25555020VWPPA02  5V32  2021-04-01       0
2961499           PCR  AP25555019WQT5A02  5V27  2021-03-01       0
2961500           PCR  AP18565015TTT2A00  5V18  2021-02-01       0

[1269216 rows x 5 columns]

In [39]:
data.drop(['ProductLineID'], axis=1, inplace=True)

C:\Users\shav.vimelindiran\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [40]:
data

                  Material Plant        Date  Volume
0        AL19550015VAL4A00  5V01  2021-03-01       1
1        AP21560017TC2SA00  5V24  2021-03-01       0
3        AP26545021WWPPA02  5V06  2019-07-01       0
8        AL26560018HHT2A00  5V13  2020-06-01       0
10       AP20555017VSN5AQ0  5V01  2020-10-01       0
...                    ...   ...         ...     ...
2961491  AP23540019YUSAA02  5V16  2021-08-01       0
2961494  AP23540019YUSAA02  5V30  2020-09-01       0
2961497  AP25555020VWPPA02  5V32  2021-04-01       0
2961499  AP25555019WQT5A02  5V27  2021-03-01       0
2961500  AP18565015TTT2A00  5V18  2021-02-01       0

[1269216 rows x 4 columns]

In [41]:
cols = [
    'Plant',
    'Material',
    'Volume',
    'Date',
    ]
# Rearrange Columns
data = data[cols]

In [42]:
data

        Plant           Material  Volume        Date
0        5V01  AL19550015VAL4A00       1  2021-03-01
1        5V24  AP21560017TC2SA00       0  2021-03-01
3        5V06  AP26545021WWPPA02       0  2019-07-01
8        5V13  AL26560018HHT2A00       0  2020-06-01
10       5V01  AP20555017VSN5AQ0       0  2020-10-01
...       ...                ...     ...         ...
2961491  5V16  AP23540019YUSAA02       0  2021-08-01
2961494  5V30  AP23540019YUSAA02       0  2020-09-01
2961497  5V32  AP25555020VWPPA02       0  2021-04-01
2961499  5V27  AP25555019WQT5A02       0  2021-03-01
2961500  5V18  AP18565015TTT2A00       0  2021-02-01

[1269216 rows x 4 columns]

In [43]:
data['Date']= pd.to_datetime(data['Date'])

In [44]:
# Time Index from Dates
data["time_idx"] = data["Date"].dt.year * 12 + data["Date"].dt.month
data["time_idx"] -= data["time_idx"].min()

In [45]:
data

        Plant           Material  Volume       Date  time_idx
0        5V01  AL19550015VAL4A00       1 2021-03-01        25
1        5V24  AP21560017TC2SA00       0 2021-03-01        25
3        5V06  AP26545021WWPPA02       0 2019-07-01         5
8        5V13  AL26560018HHT2A00       0 2020-06-01        16
10       5V01  AP20555017VSN5AQ0       0 2020-10-01        20
...       ...                ...     ...        ...       ...
2961491  5V16  AP23540019YUSAA02       0 2021-08-01        30
2961494  5V30  AP23540019YUSAA02       0 2020-09-01        19
2961497  5V32  AP25555020VWPPA02       0 2021-04-01        26
2961499  5V27  AP25555019WQT5A02       0 2021-03-01        25
2961500  5V18  AP18565015TTT2A00       0 2021-02-01        24

[1269216 rows x 5 columns]

In [46]:
data.loc[data['Volume'] < 0]

        Plant           Material  Volume       Date  time_idx
28       5V06  AP25535019YULVA02      -2 2020-10-01        20
1185     5V36  AP21550017VSP5A00      -2 2020-06-01        16
1650     5V36  AP20540018VWPRA02      -4 2020-11-01        21
1754     5V30  AP19565015TSN5A00      -2 2021-04-01        26
1920     5V13  AP25540019YUVPA02      -2 2021-08-01        30
...       ...                ...     ...        ...       ...
2958914  5V10  AI21560016TWICA22      -4 2020-03-01        13
2959331  5V10  AP19565015HSP5A00      -1 2019-10-01         8
2959412  5M01  AP26565017HWXSA00     -56 2020-11-01        21
2960795  5M01  AP26565017HQPRA02     -33 2021-11-01        33
2961490  5V35  AP22560017VQT5A00     -12 2020-02-01        12

[6828 rows x 5 columns]

In [47]:
data.loc[data['Volume'] == 0]

        Plant           Material  Volume       Date  time_idx
1        5V24  AP21560017TC2SA00       0 2021-03-01        25
3        5V06  AP26545021WWPPA02       0 2019-07-01         5
8        5V13  AL26560018HHT2A00       0 2020-06-01        16
10       5V01  AP20555017VSN5AQ0       0 2020-10-01        20
11       5V18  AP17565015TWTRA00       0 2019-10-01         8
...       ...                ...     ...        ...       ...
2961491  5V16  AP23540019YUSAA02       0 2021-08-01        30
2961494  5V30  AP23540019YUSAA02       0 2020-09-01        19
2961497  5V32  AP25555020VWPPA02       0 2021-04-01        26
2961499  5V27  AP25555019WQT5A02       0 2021-03-01        25
2961500  5V18  AP18565015TTT2A00       0 2021-02-01        24

[1070926 rows x 5 columns]

In [48]:
data.Volume=data.Volume.mask(data.Volume.lt(0),0)

In [49]:
data.loc[data['Volume'] == 0]

        Plant           Material  Volume       Date  time_idx
1        5V24  AP21560017TC2SA00       0 2021-03-01        25
3        5V06  AP26545021WWPPA02       0 2019-07-01         5
8        5V13  AL26560018HHT2A00       0 2020-06-01        16
10       5V01  AP20555017VSN5AQ0       0 2020-10-01        20
11       5V18  AP17565015TWTRA00       0 2019-10-01         8
...       ...                ...     ...        ...       ...
2961491  5V16  AP23540019YUSAA02       0 2021-08-01        30
2961494  5V30  AP23540019YUSAA02       0 2020-09-01        19
2961497  5V32  AP25555020VWPPA02       0 2021-04-01        26
2961499  5V27  AP25555019WQT5A02       0 2021-03-01        25
2961500  5V18  AP18565015TTT2A00       0 2021-02-01        24

[1077754 rows x 5 columns]

In [50]:
data

        Plant           Material  Volume       Date  time_idx
0        5V01  AL19550015VAL4A00       1 2021-03-01        25
1        5V24  AP21560017TC2SA00       0 2021-03-01        25
3        5V06  AP26545021WWPPA02       0 2019-07-01         5
8        5V13  AL26560018HHT2A00       0 2020-06-01        16
10       5V01  AP20555017VSN5AQ0       0 2020-10-01        20
...       ...                ...     ...        ...       ...
2961491  5V16  AP23540019YUSAA02       0 2021-08-01        30
2961494  5V30  AP23540019YUSAA02       0 2020-09-01        19
2961497  5V32  AP25555020VWPPA02       0 2021-04-01        26
2961499  5V27  AP25555019WQT5A02       0 2021-03-01        25
2961500  5V18  AP18565015TTT2A00       0 2021-02-01        24

[1269216 rows x 5 columns]

In [51]:
data["Volume"].max()

21201

In [53]:
data["sum_groupby_timeindx_material"] = data.groupby(["time_idx", "Material"], observed=True).Volume.transform("sum")

In [54]:
data

,Plant,Material,Volume,Date,time_idx,sum_groupby_timeindx_material
0,5V01,AL19550015VAL4A00,1,2021-03-01,25,97
1,5V24,AP21560017TC2SA00,0,2021-03-01,25,688
3,5V06,AP26545021WWPPA02,0,2019-07-01,5,0
8,5V13,AL26560018HHT2A00,0,2020-06-01,16,4
10,5V01,AP20555017VSN5AQ0,0,2020-10-01,20,0
...,...,...,...,...,...,...
2961491,5V16,AP23540019YUSAA02,0,2021-08-01,30,201
2961494,5V30,AP23540019YUSAA02,0,2020-09-01,19,39
2961497,5V32,AP25555020VWPPA02,0,2021-04-01,26,0
2961499,5V27,AP25555019WQT5A02,0,2021-03-01,25,0
2961500,5V18,AP18565015TTT2A00,0,2021-02-01,24,14

In [55]:
data.loc[data['Material'] == "AL19550015VAL4A00"].loc[data['time_idx'] == 5]

,Plant,Material,Volume,Date,time_idx,sum_groupby_timeindx_material
114095,5V31,AL19550015VAL4A00,0,2019-07-01,5,858
130249,5V27,AL19550015VAL4A00,0,2019-07-01,5,858
717432,5V32,AL19550015VAL4A00,0,2019-07-01,5,858
784660,5V04,AL19550015VAL4A00,46,2019-07-01,5,858
973350,5V11,AL19550015VAL4A00,47,2019-07-01,5,858
1019108,5V30,AL19550015VAL4A00,0,2019-07-01,5,858
1350341,5500,AL19550015VAL4A00,10,2019-07-01,5,858
1657904,5V34,AL19550015VAL4A00,0,2019-07-01,5,858
1701909,5V36,AL19550015VAL4A00,58,2019-07-01,5,858
1763553,5V21,AL19550015VAL4A00,113,2019-07-01,5,858
1815764,5V06,AL19550015VAL4A00,26,2019-07-01,5,858
1858987,5V01,AL19550015VAL4A00,18,2019-07-01,5,858
1901209,5V33,AL19550015VAL4A00,0,2019-07-01,5,858
2057118,5M01,AL19550015VAL4A00,505,2019-07-01,5,858
2204703,5V10,AL19550015VAL4A00,0,2019-07-01,5,858
2380667,5V13,AL19550015VAL4A00,0,2019-07-01,5,858
2746719,5V18,AL19550015VAL4A00,0,2019-07-01,5,858
2747082,5V07,AL19550015VAL4A00,35,2019-07-01,5,858

In [56]:
# Drop un-needed Columns
data.drop(['Plant', 'Volume'], axis=1, inplace=True)

In [63]:
data

                  Material       Date  time_idx  sum_groupby_timeindx_material
0        AL19550015VAL4A00 2021-03-01        25                             97
1        AP21560017TC2SA00 2021-03-01        25                            688
3        AP26545021WWPPA02 2019-07-01         5                              0
8        AL26560018HHT2A00 2020-06-01        16                              4
10       AP20555017VSN5AQ0 2020-10-01        20                              0
...                    ...        ...       ...                            ...
2961491  AP23540019YUSAA02 2021-08-01        30                            201
2961494  AP23540019YUSAA02 2020-09-01        19                             39
2961497  AP25555020VWPPA02 2021-04-01        26                              0
2961499  AP25555019WQT5A02 2021-03-01        25                              0
2961500  AP18565015TTT2A00 2021-02-01        24                             14

[1269216 rows x 4 columns]

In [66]:
data = data.drop_duplicates()

In [68]:
data

                  Material       Date  time_idx  sum_groupby_timeindx_material
0        AL19550015VAL4A00 2021-03-01        25                             97
1        AP21560017TC2SA00 2021-03-01        25                            688
3        AP26545021WWPPA02 2019-07-01         5                              0
8        AL26560018HHT2A00 2020-06-01        16                              4
10       AP20555017VSN5AQ0 2020-10-01        20                              0
...                    ...        ...       ...                            ...
2960678  AP22555018YULAXB2 2020-11-01        21                              0
2960768  AL21545017YA4PA02 2019-11-01         9                              0
2960924  AL24545018YAA4A02 2021-09-01        31                              0
2961012  AL15570013TAZXAZ0 2020-07-01        17                              0
2961443  AP21570016HQT5200 2020-02-01        12                              0

[93240 rows x 4 columns]

In [67]:
data.loc[data['sum_groupby_timeindx_material'] == 0]

                  Material       Date  time_idx  sum_groupby_timeindx_material
3        AP26545021WWPPA02 2019-07-01         5                              0
10       AP20555017VSN5AQ0 2020-10-01        20                              0
11       AP17565015TWTRA00 2019-10-01         8                              0
17       AP25535020YUVPA02 2020-09-01        19                              0
22       AP23540018YULSA02 2020-07-01        17                              0
...                    ...        ...       ...                            ...
2960678  AP22555018YULAXB2 2020-11-01        21                              0
2960768  AL21545017YA4PA02 2019-11-01         9                              0
2960924  AL24545018YAA4A02 2021-09-01        31                              0
2961012  AL15570013TAZXAZ0 2020-07-01        17                              0
2961443  AP21570016HQT5200 2020-02-01        12                              0

[57053 rows x 4 columns]

In [72]:
data_zeroes = data[data.groupby(["Material"], observed=True).sum_groupby_timeindx_material.transform("mean") == 0]

In [71]:
29304/36

814.0

In [74]:
list(data_zeroes["Material"])

['AP26545021WWPPA02',
 'AP20555017VSN5AQ0',
 'AP23540018YULSA02',
 'AP24545017VWPPA02',
 'AP20555016VSN6A02',
 'AP21545018VWPPA02',
 'AP23545019WUSA202',
 'AP25540022VWPRA02',
 'AL22555019VHT2AZ0',
 'AP23545017YULSA00',
 'AP24540019WWPPA02',
 'AP20550017HWPPA02',
 'AL21560017HAPWA00',
 'AP25550019VWPPA02',
 'AP23555017YULCA02',
 'AP18565015VQT5AQA',
 'AL20575016RATWA00',
 'AP23555017YULCA02',
 'AP21545020HWPR202',
 'AP23555018HWPPA02',
 'AL25555018YAS4AZ2',
 'AP25555018YULAA02',
 'AP26545021YQPRA02',
 'AP24545021WWPPA02',
 'AP25550019VWPPA02',
 'AP25555019VWPPA02',
 'AP22550017YULAA02',
 'AP19565015HSN6AQ0',
 'AP23540018YULSA02',
 'AP28545021YWPPA02',
 'AP21540018YULAXA2',
 'AP27550020YQPRA02',
 'AP20540017YULCA02',
 'AP22555019VWPPA00',
 'AP25535021WWPRA02',
 'AL18565015T3GMA00',
 'AP27565018SPABA0C',
 'AP26540021YWPPA02',
 'AP23540019WWPPA02',
 'AL17565014T3GMA00',
 'AL23545017YAS4AZ2',
 'AP22555017YULAA02',
 'AP23540019WWPPA02',
 'AP23540019YUPRA02',
 'AP22555017HWPPA00',
 'AL15565014TA3GA00',
 'AP23555017HWPPA00',
 'AL23565017VHT2AZE',
 'AP23555017HWPPA00',
 'AL23555019WHT2AZ2',
 'AP22560018WULAA02',
 'AP20540018VWPPA02',
 'AP21545020HWPPA02',
 'AP26535022YWPPA02',
 'AP25540020YWPPA02',
 'AP30535022YU4SA02',
 'AP20555017VWPRAQ0',
 'AP19550015HSN6A00',
 'AL23565017SAATA00',
 'AP20540017YULCA02',
 'AP20550017HWPPA02',
 'AP21550017YHYPA02',
 'AP26530020YUPRA02',
 'AP24545020VWPPA02',
 'AP20545017YULAA02',
 'AP22555019VWPPA00',
 'AL22550017YAS4AZ2',
 'AP24550020VWPPA02',
 'AP24545020VWPPA02',
 'AP22545019VWPPA02',
 'AP27550020WWPPA02',
 'AP24545020VWPPA02',
 'AP20550017YULCA02',
 'AI23560018TARCA22',
 'AP24545020VWPPA02',
 'AL16570014T3GMA00',
 'AP22560017HWPPA02',
 'AL25545018YAS4AZ2',
 'AP22545018WUSAXD0',
 'AP26545020YQPRA02',
 'AP21540018YULAAA2',
 'AL16570014TAA4AZ0',
 'AL25555018YAS4AZ2',
 'AP16560015TSN6A00',
 'AP20565017YULAAB2',
 'AP23555017YULCA02',
 'AP26545021WWPPA02',
 'AP19565015HSN6AQ0',
 'AP21540018YULAXA2',
 'AP23560016YULCA00',
 'AP26535022YWPPA02',
 'AP23560018HWPPA02',
 'AP26535022WWPRA02',
 'AL23560016HHT2AZ0',
 'AL22555016YA4PA02',
 'AL19565015T3GMA02',
 'AL22555019VHT2AZ0',
 'AP21550017YHYPA02',
 'AP18560015TSN6A02',
 'AP22545018WUSAXD0',
 'AL20540017YAS4AZ2',
 'AP20565017YULAAB2',
 'AP25535019YWPPA02',
 'AL22560018VHT2AZ0',
 'AP20570015VSPCA00',
 'AL23555017YAS4AZ2',
 'AL25545018YAS4AZ2',
 'AP22540018YULSA02',
 'AL23550018VAS4AZ0',
 'AP27545021VWPPA02',
 'AL20545016WAS4AZ2',
 'AP20550017VWPPA02',
 'AP23535020YWPPA02',
 'AP20560016HSN6A02',
 'AP24535019YWPPA02',
 'AP16565015TSN6A00',
 'AP28530021YWPRA02',
 'AP29540021YWPPA02',
 'AP18565015TSN6A00',
 'AP24545020VWPPA02',
 'AP26545020VWPPA02',
 'AL22565016RATWA00',
 'AP21555016HSN6A00',
 'AP23555017YULCA02',
 'AP25555019VWPPA02',
 'AP23555017VWPPA02',
 'AP19570015RCMAA00',
 'AP23565016RCMWA00',
 'AL15570013TA3GA00',
 'AP31530022YWPRA02',
 'AL19550016VAL4AZ2',
 'AL25545018YAS4AZ2',
 'AL22555016HAXWAZ2',
 'AP20540017YULCA02',
 'AP25540021YQPRA02',
 'AP20565015HQT5XQ0',
 'AP21565016HSN6A00',
 'AP19560015TSN6A00',
 'AP21550017VWPPA02',
 'AP23555018HWPPA02',
 'AP26545021YQPRA02',
 'AP25540022YWPPA02',
 'AP20550017YULAA02',
 'AP22555017HWPPA00',
 'AP23555017HHTRA00',
 'AP23535020YWPPA02',
 'AP25545019VWPPA02',
 'AP23550018YULAA02',
 'AP23560018HWPPA02',
 'AP20550017YULCA02',
 'AP26560018VQPRA02',
 'AP22535019WWPPA02',
 'AP18580015WSPCA00',
 'AP22535019WWPPA02',
 'AP24550020VWPPA02',
 'AP23550018YHYPA02',
 'AP22560017HWPPA02',
 'AP23555017YULAA02',
 'AP25545020VWPPA02',
 'AP21550017YULCA02',
 'AL23550018VAS4AZ0',
 'AP19575016RCMWA00',
 'AL17565014T3GMA00',
 'AP25560018VWPPA02',
 'AL17565014T3GMA00',
 'AP19560016HSN6A00',
 'AP25550019VWPPA02',
 'AL24570016TAHTA02',
 'AP21550019HWPPA00',
 'AP19550016HSN6A02',
 'AL21555017WAS4AZ2',
 'AL14570013TA3GA00',
 'AP20555017VSN5AQ0',
 'AP22540018YULAAB2',
 'AL19570015RATWA00',
 'AP24545018YQPR202',
 'AP25545020VWPPA02',
 'AL20550017YAS4AZ2',
 'AP26540022VWPRA02',
 'AP21565016HSN6A00',
 'AP21535018YUPRA02',
 'AP22565017VHTRA00',
 'AP32535022YWPPA02',
 'AL16570013T3GMA00',
 'AP26540022YQPRA02',
 'AP23550018YULCA00',
 'AP26545021WWPPA02',
 'AL23545017YAS4AZ2',
 'AL20570015RATWA00',
 'AP23545018VWPPA02',
 'AP22545016YSPLA02',
 'AP20565015HQT6AQ2',
 'AL20540017WAS4AZ2',
 'AL23545017YAS4AZ2',
 'AP25535019YWPPA02',
 'AP20550017HSP5AGE',
 'AL25535018YAS4AZ2',
 'AP29530022YWPR202',
 'AL22545017YAS4AZ2',
 'AP19560015TWTRA02',
 'AP21550017YHYPA02',
 'AP23555017VWPPA02',
 'AL22550017YAS4AZ2',
 'AP19565015TSN6A02',
 'AP20565015TSN6A00',
 'AP21555016HSN6A00',
 'AL21555016HAXWAZ2',
 'AP18560015TSN6A02',
 'AP25560018VWPPA02',
 'AP20565016TCMAA00',
 'AP30535021YWPPA02',
 'AL21560017HAPWA00',
 'AP24550018VWPPA02',
 'AP23580017RPAOA0E',
 'AP23545017YULCA02',
 'AP22550017YHYPA02',
 'AP27545020VWPPA02',
 'AP26540022YWPPA02',
 'AP22535019YQPRA02',
 'AP18565015VULAAA2',
 'AP23545017YULCA02',
 'AP22555018VWPPA02',
 'AP21570016HSN6A00',
 'AP23560016YULCA00',
 'AP23550019VWPPA02',
 'AP23545018VWPPA02',
 'AL17570013T3GMA00',
 'AP22555019VUPRA00',
 'AL17570014T3GMA00',
 'AP19555016HSN6A02',
 'AP21575016RCMWA00',
 'AP25555020VWPPA02',
 'AL17565014T3GMA02',
 'AL16580013T3GMA00',
 'AP26535022YWPPA02',
 'AP20565017HWPRAB2',
 'AL20545016YAS4AZ2',
 'AP22545017HWPPA02',
 'AP20555017VWPRXQ0',
 'AP23560018WULAA02',
 'AP21565016TCMAA00',
 'AP27535022YWPPA02',
 'AL16565013T3GMA00',
 'AP18575016RC2SA00',
 'AP22535019YQPRA02',
 'AP23555017HWPPA00',
 'AL22550017YAS4AZ2',
 'AP22550016YSPLA00',
 'AP24545018YQPR202',
 'AP19550016HSN6A02',
 'AP30535021YWPPA02',
 'AP24545021WWPPA02',
 'AP26540022YWPPA02',
 'AP23565017VQPR202',
 'AP21565016RCMWA00',
 'AP32535022YWPPA02',
 'AP20555017VWPRXQ0',
 'AP20565016RCMWA00',
 'AP26570017TPATA00',
 'AP28545021WWPRA02',
 'AP26545020YQPRA02',
 'AP23535020YWPPA02',
 'AP28545019VWPPA02',
 'AP28545021WWPRA02',
 'AP21550019VQPRA02',
 'AL19565015T3GMA02',
 'AP23545018VWPPA02',
 'AP27540022VWPR202',
 'AP24545019YUPRA02',
 'AP26550020YWPPA02',
 'AP22545017HWPPA00',
 'AP21545017WULAAA2',
 'AL20550017YAS4AZ2',
 'AP27545019YQPRA02',
 'AP20555016HSN6A00',
 'AP27540021WWPPA02',
 'AL18560014T3GMA00',
 'AP27545021VWPPA02',
 'AL15570013TA3GA00',
 'AP31530022YWPRA02',
 'AP22545018WUSAXD0',
 'AL18570014T3GMA00',
 'AP26540022YWPPA02',
 'AL17565014T3GMA02',
 'AL23545017YAS4AZ2',
 'AP25535021YWPPA02',
 'AL22570015RATWA00',
 'AP21570015RCMWA00',
 'AL23555019WHT2AZ2',
 'AP20550017HWPPA02',
 'AP22545019WUPRA02',
 'AL21555017WAS4AZ2',
 'AP21555017HQT5AG0',
 'AP28530021YWPRA02',
 'AP20565015HQT6AQ2',
 'AP23550018YULAA02',
 'AP23540018WWPPA02',
 'AP20565017YULAAB2',
 'AP20550017VSP5AG2',
 'AP23540019WWPPA02',
 'AP24545021WWPPA02',
 'AL25555018YAS4AZ2',
 'AP31535021WWPPA02',
 'AP20565017HWPRAB2',
 'AP22560018VWPPA02',
 'AP24540018YULSA02',
 'AL16570014TAW4AZ0',
 'AP19555016HSN6A02',
 'AP22540018WWPPA02',
 'AP20555016HSN6A00',
 'AL18565015T3GMA00',
 'AP20555016YSPLA00',
 'AP20545017VWPPA02',
 'AP21575016RCMWA00',
 'AP21555016HSN6A02',
 'AP22545018WWPPA02',
 'AL17560015HAL4AZ0',
 'AP19560015TWTRA02',
 'AL21555017WAS4AZ2',
 'AP20550017VWPPA02',
 'AP26545021YQPRA02',
 'AP19565015TSN6A02',
 'AP23550019VWPPA02',
 'AP22550017YULAA02',
 'AP23560018HWXSXD0',
 'AP20550017HWPPA02',
 'AP21545017YULAA02',
 'AL26565017SAHTA00',
 'AP23555017YULCA02',
 'AP29540021YUVPA02',
 'AP24540018YULCA02',
 'AP20545017VQPRA02',
 'AP20550017YHYPA02',
 'AP21550017YHYPA02',
 'AP23565017HWPPA02',
 'AP21550018VWPPA00',
 'AP23545017YULSA00',
 'AP20565015HQT6AQ2',
 'AP24545018VWPPA02',
 'AP22555018VWPPA02',
 'AP23555017HWPPA00',
 'AP25555018VWPPA02',
 'AL17570014TAZXAZ2',
 'AP26540022YUPRA02',
 'AP23555018VULAA00',
 'AP31535021WWPPA02',
 'AP20570015RCMAA00',
 'AP21550017YHYPA02',
 'AP22545017HWPPA02',
 'AP23555017YULAA02',
 'AP18555015HSN6A00',
 'AP25560018VWPPA02',
 'AL19565016TATWA00',
 'AL23565017VHT2AZE',
 'AP32535022YWPPA02',
 'AP20555019HWPPA02',
 'AP26550020YWPPA02',
 'AP21540018YULCA02',
 'AP31530022YWPRA02',
 'AP21555018VWPR202',
 'AP24545018VWPPA02',
 'AP21545018VWPPA02',
 'AP25540020YWPPA02',
 'AP20545017VQPRA02',
 'AL21555017WAS4AZ2',
 'AP20550017VSP5XG2',
 'AL16570014T3GMA00',
 'AP18565015VQT5AQA',
 'AL21555017WAS4AZ2',
 'AL16570013T3GMA02',
 'AL18560014HAA4AZ0',
 'AP18565015VULAAA2',
 'AP24540018YULCA02',
 'AP24545016YSPLA00',
 'AL19575016RATWA00',
 'AP19560015TSN6A00',
 'AP26570017TPATA00',
 'AL20540017YAS4AZ2',
 'AP24555019HPHBA00',
 'AP27530020YWPPA02',
 'AP25555020VWPPA02',
 'AP20550017VWPPA02',
 'AP20575016RCMWA00',
 'AP23555017VWPPA02',
 'AP25535020WWPPA02',
 'AP24545019WWPPA02',
 'AP21555017HQT5XG0',
 'AP21560017HWPPA00',
 'AI23560018TARCA22',
 'AP21555018VULAA02',
 'AP24550020VWPPA02',
 'AP22555019VWPPA00',
 'AL25545018YAS4AZ2',
 'AP23545018VWPPA02',
 'AP28545019WQPRA02',
 'AP23545019VWPPA02',
 'AP22545017HWPPA00',
 'AL14580013TA3GA00',
 'AP24545017VWPPA02',
 'AL18570014T3GMA00',
 'AP22545019VWPPA02',
 'AP25555018YULAA02',
 'AP26535022WWPRA02',
 'AP18560015TSN6A02',
 'AP19565015HSN6AQ0',
 'AP20545017YULAA02',
 'AL20550017YAS4AZ2',
 'AP24545021WWPPA02',
 'AP27540019WWPPA02',
 'AL26565017SAHTA00',
 'AP21555017HQT5XG0',
 'AP20545017VQPRA02',
 'AP25535021YQPRA02',
 'AP30535022YU4SA02',
 'AL22560018VHT2AZ0',
 'AP21560017HWPPA00',
 'AP22540018WWPPA02',
 'AP28545021YWPPA02',
 'AP26540022YWPPA02',
 'AL16570014TAA4AZ2',
 'AP19565015HSN6AQ0',
 'AP20550017YULAA02',
 'AP23555017HWPPA00',
 'AL16570014TAA4AZ0',
 'AP23545017YULCA02',
 'AP27565020SPABA0E',
 'AP22575016RCWPA00',
 'AP29540020YQPRA02',
 'AL21570015RATWA00',
 'AP21550018WULAA00',
 'AP22555017YQPR202',
 'AL21565016HAPWA00',
 'AP22555018VULAA00',
 'AP27540021WWPPA02',
 'AP20565017YULAAB2',
 'AP23535020YWPRA02',
 'AL19570015RATWA00',
 'AP26550019YQPRA02',
 'AP26550020YWPRA02',
 'AP27540022VWPR202',
 'AP24540019WWPPA02',
 'AP19575016RCMWA00',
 'AL23545017YAS4AZ2',
 'AP19560015TSN6A00',
 'AP23545017YULAA02',
 'AP21565016RCMWA00',
 'AP31530021YWPPA02',
 'AP19560015TWTRA02',
 'AP21550019HWPPA00',
 'AP21555018VWPPA02',
 'AP20565016HWPRAGA',
 'AP21555017HQT5AG0',
 'AL23545017YAS4AZ2',
 'AP19565016RCMWA00',
 'AL22555016HAXWAZ2',
 'AP23540019WWPPA02',
 'AP21555018VWPPA02',
 'AP22545018WWPPA02',
 'AP25540019VWPPA02',
 'AP22550016YULCA00',
 'AP23545019VWPPA02',
 'AP21570015RCMWA00',
 'AP23555019VWPPA02',
 'AP20550017YULCA02',
 'AP23565016RCMWA00',
 'AL16570014TAW4AZ0',
 'AP26545021WWPPA02',
 'AL14570013TA3GA00',
 'AP20565017HWPRAB2',
 'AP28540021VWPPA02',
 'AP29540021YWPPA02',
 'AP21570016HSN6A00',
 'AP23545020VWPPA02',
 'AP28540021VWPPA02',
 'AP29540021YUVPA02',
 'AP29535021YWPPA02',
 'AP27545019YQPRA02',
 'AL14580013TA3GA00',
 'AP23550018VWPPA02',
 'AL23550018VAS4AZ0',
 'AP19555016HSN6A00',
 'AP29535021YWPPA02',
 'AP22565016RCMAA00',
 'AP21570016HSN6A00',
 'AP20560018HWTRXB2',
 'AL23550018VAS4AZ0',
 'AL26565017SAHTA00',
 'AP23555018HWPPA02',
 'AP21550017VWPPA02',
 'AP26550019YQPRA02',
 'AP28535022YWPPA02',
 'AL20545017YAS4AZ2',
 'AP21545018VWPPA02',
 'AP23555017YULAA02',
 'AP25550020VWPPA02',
 'AP24545019WWPPA02',
 'AP21570016HSN6A00',
 'AP24550019YHYPA02',
 'AL17570014T3GMA02',
 'AP20565016HWPRAG0',
 'AL16565013T3GMA00',
 'AP22555017YULAA02',
 'AP25555018VWPPA02',
 'AL16570014T3GMA00',
 'AL22555019VHT2AZ0',
 'AL20555016WAS4AZ2',
 'AL20555016WAS4AZ2',
 'AP17565014TSN5A0A',
 'AL20540017WAS4AZ2',
 'AP22550018VWPPA02',
 'AP19565015TWICA02',
 'AP27535019WWPPA02',
 'AP21555016HSN6A00',
 'AL20550017YAS4AZ2',
 'AP25535020WWPPA02',
 'AP29540020VWPPA02',
 'AP25550019VWPPA02',
 'AP24540018WWPPA02',
 'AP25540021YQPRA02',
 'AL21565016HAPWA00',
 'AP23565017HWPPA02',
 'AP21565016HSN6A00',
 'AP28535022YWPPA02',
 'AP23565018HWPPA02',
 'AP30540020VWPPA02',
 'AP25550019YHYPA02',
 'AP22555017YULAA02',
 'AL20545017YAS4AZ2',
 'AP23535019YWPPA02',
 'AP27540021WWPPA02',
 'AL20540017YAS4AZ2',
 'AL21555017WAS4AZ2',
 'AP23555018VULAA00',
 'AP23540018YULSA02',
 'AL19570015RATWA00',
 'AP25545020VWPPA02',
 'AP27540021YUPRA02',
 'AP29540020VWPPA02',
 'AP20565016RCMWA00',
 'AP22555016HSN6A02',
 'AP22555018VULAA00',
 'AP24550020VWPPA02',
 'AP17565014TSN5A0A',
 'AP24545019WWPPA02',
 'AP27535020YWPPA02',
 'AP22550017YULCA02',
 'AP21555017YULCA00',
 'AL23555018VAA4A02',
 'AP24545017YULSA00',
 'AI21565016TARCA22',
 'AP12500017RPABA0E',
 'AP20550016YULCA00',
 'AP22540019YUPRA02',
 'AP22555017VWPPA02',
 'AP19565015TSN6A02',
 'AP25550019YHYPA02',
 'AL24570016SAHTA02',
 'AP22555017VWPPA02',
 'AL21575016RATWA00',
 'AL21575016RATWA00',
 'AL19565016TATWA00',
 'AP22565017VHTRA00',
 'AL14570013TA3GA00',
 'AL20565016TATWA00',
 'AP27535019WWPPA02',
 'AP23565016RCMAA00',
 'AL19565016TATWA00',
 'AP20565016RCMWA00',
 'AP22545017HWPPA02',
 'AP27535020YWPPA02',
 'AP27540019WWPPA02',
 'AP21555017HQT5AGA',
 'AP25540020YUPRA02',
 'AP23560018HWPPA02',
 'AP21555017HQT5AGA',
 'AL22560018VHT2AZ0',
 'AP21535018YULSA02',
 'AP24540018YULCA02',
 'AP19555016HSN6A02',
 'AP25545019VWPPA02',
 'AL16565013T3GMA00',
 'AL21565016RATWA00',
 'AP22560018WULAA02',
 'AL23560016HHT2AZ0',
 'AP19565015HSN6XQ0',
 'AP21555017HQT5XG0',
 'AP31530021YWPPA02',
 'AP21555017VWPPA02',
 'AP22545017YULSA02',
 'AP23545019VWPPA02',
 'AL23555019WHT2AZ2',
 'AP20550017VWPPA02',
 'AP20555019HWPPA02',
 'AP22560018WULAA02',
 'AP25540021VWPPA02',
 'AP25545019VWPPA02',
 'AL19570015RATWA00',
 'AP20560016HSN6A00',
 'AP27535022YWPPA02',
 'AP24550020VWPPA02',
 'AP19565015TSN6A00',
 'AP20540018VWPPA02',
 'AP29530022YWPPA02',
 'AL24540019YAS4AZ2',
 'AP21545017VWPPA02',
 'AP24545018VWPPA02',
 'AP18565015VQT5XQA',
 'AP24535019YWPPA02',
 'AP19555016HSN6A00',
 'AP22550017HWPPA02',
 'AP23555017YULAA02',
 'AP22565016RCMAA00',
 'AP24540020YWPPA02',
 'AP22545019WQPR202',
 'AL19565015T3GMA00',
 'AP20565015HQT5XQ0',
 'AP20550017YULCA02',
 'AP18565015VQT5XQA',
 'AP27545020VWPPA02',
 'AP28535022YWPPA02',
 'AP22565017HWPPA02',
 'AP27540022VWPPA02',
 'AP23545017YULAA02',
 'AP27535020YUPRA02',
 'AP21555017VWPPA02',
 'AP28545021WWPRA02',
 'AP25535020WWPPA02',
 'AL23555018VHT2AZ0',
 'AP28540021YUPRA02',
 'AP27530020YWPPA02',
 'AL20570015RATWA00',
 'AI19565015TARCA20',
 'AL16570014T3GMA02',
 'AP19565015TSN6A00',
 'AP20555016TSN6A00',
 'AP23535019YWPPA02',
 'AP29535021YWPPA02',
 'AP21550017YHYPA02',
 'AP27540022VWPPA02',
 'AP27540022VWPPA02',
 'AP19560016HSN6A00',
 'AL16570013T3GMA00',
 'AP25540021VWPPA02',
 'AP21570015RCMAA00',
 'AP19555020HWPRA02',
 'AP23540018YULSA02',
 'AP29535021YWPPA02',
 'AP24550018VWPPA02',
 'AL21560016TATWA00',
 'AP21570015RCMWA00',
 'AP31530021YWPPA02',
 'AP24540017YULSA02',
 'AP25535020WWPPA02',
 'AP26555019YQPRA02',
 'AP18565015TSN6A00',
 'AP22535019WWPPA02',
 'AP23550018YULCA00',
 'AP21555017WULAA00',
 'AP22565016RCMAA00',
 'AP20555017VWPPA02',
 'AP16565015TSN6A00',
 'AP19565015HSN6XQ0',
 'AP19560016HSN6A00',
 'AP21535018YULSA02',
 'AP26545020VWPPA02',
 'AP27535020YWPPA02',
 'AP25545020VWPPA02',
 'AL23555019WHT2AZ2',
 'AP26540022VWPRA02',
 'AL20565016TATWA00',
 'AP22550016YSPLA00',
 'AP20550017HSP5AGE',
 'AL17570014T3GMA02',
 'AP23550019VWPPA02',
 'AL22545017YA4PA00',
 'AP20570015RC2SA00',
 'AP22545017VWPPA02',
 'AL22545017YA4PA02',
 'AP22555016HSN6A02',
 'AP26540021YWPPA02',
 'AP22550017YULAA02',
 'AL22555019VHT2AZ0',
 'AP19555016HSN6A02',
 'AP22540019YWPR202',
 'AP23555017YULCA02',
 'AP25540022VWPRA02',
 'AL25555018YAS4AZ2',
 'AP22545017HWPPA02',
 'AP24535019YQPRA02',
 'AP23560018HWXSXD0',
 'AP25540021YQPRA02',
 'AP20560016YULCA02',
 'AP29535021YQPRA02',
 'AP19555020HULAA02',
 'AP18565015VQT5AQA',
 'AP19570014TSN5A00',
 'AL20565016TATWA00',
 'AP20570015RCMWA00',
 'AP28535022YWPPA02',
 'AP27530020YWPPA02',
 'AL19575016RATWA00',
 'AP25535019YWPPA02',
 'AL20555016WAS4AZ2',
 'AP23555017YULCA02',
 'AP28545021YWPPA02',
 'AL20540017YAS4AZ2',
 'AP21550018VWPPA00',
 'AL21570015RATWA00',
 'AP24535019YWPPA02',
 'AP24545017VWPPA02',
 'AP27540021WWPPA02',
 'AP21535018YULSA02',
 'AP21555017HQT5XG0',
 'AP25555018YULAA02',
 'AP23545020VWPPA02',
 'AP25550020VWPPA02',
 'AP29540020YQPRA02',
 'AP20555017VWPRXQ0',
 'AP22560017HWPPA02',
 'AP22565016RCMWA00',
 'AP24550020HWPRA02',
 'AP23555018VULAA00',
 'AP27540022VWPPA02',
 'AP27535020YWPPA02',
 'AP26560018HWPPA02',
 'AP21550019HWPPA00',
 'AP22535019YUPRA02',
 'AP21550017VWPPA02',
 'AP22545017YULSA02',
 'AP21570015RCMWA00',
 'AP27540022VWPPA02',
 'AP21560017HWPPA00',
 'AP24560018HPHBA00',
 'AP22550016YHYPA00',
 'AP21555017HQT5AG0',
 'AP31540021VWPPA02',
 'AP24545017VWPPA02',
 'AP21555017HQT5XG0',
 'AP22555017VWPPA02',
 'AP26560018HWPPA02',
 'AP19560016HSN6A00',
 'AL18565015T3GMA00',
 'AP20550017VSP5XG2',
 'AL22555016HAXWAZ2',
 'AP20555016TSN6A00',
 'AP19545016HSN6A02',
 'AL22565017VAA4A02',
 'AP23550018YULAA02',
 'AP21555017YULAA02',
 'AP26540022YWPPA02',
 'AP19555016HSN6A02',
 'AP22555019VWPPA00',
 'AP27540018VWPRA02',
 'AP23555017VWPPA02',
 'AP20550017VSP5AG2',
 'AP21555018VWPPA02',
 'AP23555017YULCA02',
 'AP21570015RCMAA00',
 'AP22555019VWPPA00',
 'AP24535019YWPPA02',
 'AL14580013TAMXAZ0',
 'AP22545018WUSAXD0',
 'AP21555017VWPPA02',
 'AP21555016YULCA02',
 'AP22540018YULAXB2',
 'AP24545017YULSA00',
 'AL23550018YA4PA02',
 'AL17570014T3GMA02',
 'AP19570015RCMAA00',
 'AL26565017TAHTA00',
 'AP21560017HWPPA00',
 'AP25535020WWPPA02',
 'AP26545021WWPPA02',
 'AP22540018WWPPA02',
 'AP22540018YULSA02',
 'AP22565017VHTRA00',
 'AP22545018WUSAXD0',
 'AP24540018YUPRA02',
 'AP22540019YWPPA02',
 'AP21540017VWPPA02',
 'AP23555017VWPPA02',
 'AP25540021VWPPA02',
 'AL17570013TAM4AL0',
 'AP19565015HSN6XQ0',
 'AL19550016VAL4AZ2',
 'AP21560017HWPPA00',
 'AP24550018VWPPA02',
 'AP21555016HSN6A02',
 'AP20545017YULCA02',
 'AP31530021YWPPA02',
 'AP18565015TSN6A02',
 'AL17570013TAM4AL0',
 'AI21565016TARCA22',
 'AP21550018VWPPA00',
 'AP20570015RC2SA00',
 'AP22555016HSN6A00',
 'AP21555018VULAA02',
 'AP24550018VWPPA02',
 'AP16565015TSN6A00',
 'AP21540017VWPPA02',
 'AP27540022VWPPA02',
 'AP20550017HWPPA02',
 'AP22535020YUPRA02',
 'AP25545018YUPRA02',
 'AP28545020WWPPA02',
 'AL20545017YAS4AZ2',
 'AL23555019WHT2AZ2',
 'AP20565016TCMAA00',
 'AP23540018WWPPA02',
 'AP17565014TSN5A0A',
 'AP20555017VWPPA02',
 'AP23545018VWPPA02',
 'AP22570015RCMAA00',
 'AP20555016TSN6A00',
 'AL22545017YAS4AZ2',
 'AP29535021YWPPA02',
 'AL23555017YAS4AZ2',
 'AP20555016HSN6A02',
 'AP27535022YWPPA02',
 'AL14580013TA3GA00',
 'AP22555017VWPPA02',
 'AL26565017HHT2AZ0',
 'AP24540019WWPPA02',
 'AP23555019VWPPA02',
 'AP29530020YUPRA02',
 'AP20545017VWPPA02',
 'AP23565017VQPR202',
 'AP22560018VWPPA02',
 'AP31540021VWPPA02',
 'AP20565016HWPRAGA',
 'AP22550017YULAA02',
 'AL19550016VAL4AZ2',
 'AL25555018YAS4AZ2',
 'AP21560017HWPPA00',
 'AP26535022YWPPA02',
 'AP24535019YQPRA02',
 'AP20550017VWPPA02',
 'AP20565016TCMAA00',
 'AL23565017VHT2AZE',
 'AP19555020HWPPA02',
 'AP25540018YWPPA02',
 'AP24545017VWPPA02',
 'AL20565016TATWA00',
 'AL22555016YA4PA02',
 'AP25560018VWPPA02',
 'AP26550020YWPRA02',
 'AP24540018WWPPA02',
 'AP21560016TCMWA00',
 'AP22550016WUSA200',
 'AP26545020YQPRA02',
 'AP30540020VWPPA02',
 'AP23555018HWPPA02',
 'AL16570014TAW4AZ0',
 'AP24540017YULSA02',
 'AP25540022YWPPA02',
 'AP21555017HQT5AG0',
 'AP25545018YQPRA02',
 'AL23565017SAATA00',
 'AP22545017YULSA02',
 'AL23565016RATWA00',
 'AP26560018HWPPA02',
 'AL22565016RATWA00',
 'AL26565017HHT2AZ0',
 'AL15570013TA3GA00',
 'AP22550017HWPPA02',
 'AP22550018VWPPA02',
 'AP20540018YQPRA02',
 'AP20560016TWIC202',
 'AP16565015TSN6A00',
 'AP23540019WWPPA02',
 'AP22545017HWPPA02',
 'AP27540018VWPRA02',
 'AP24545020VWPPA02',
 'AP21550018VWPPA00',
 'AP24535021YWPPA02',
 'AP24540017YULSA02',
 'AP23555017VWPPA02',
 'AP22555019VWPPA00',
 'AP22550017YULCA02',
 'AL27540020YA4PA02',
 'AP22550016YSPLA00',
 'AL19570015RATWA00',
 'AP29535021YQPRA02',
 'AP22550016YHYPA00',
 'AP20565015HQT6AQ2',
 'AP21555017HQT5AG0',
 'AP22550017VWPPA02',
 'AP19555015HSN6A00',
 'AP24540018YULCA02',
 'AP26540022YQPRA02',
 'AP22575016RPHBA0E',
 'AP24545021WWPPA02',
 'AP22555016YULCA00',
 'AP26550019YQPRA02',
 'AP22550017YULAA02',
 'AP22565017HWPPA02',
 'AP19555020HQPRA02',
 'AP23550018YHYPA02',
 'AL16570014T3GMA00',
 'AP22555017HWPPA00',
 'AP21575016RCMWA00',
 'AP23565017HPABA00',
 'AP25535020WWPR202',
 'AP21555017HQT5AG0',
 'AP26550020YWPRA02',
 'AP22540018WWPPA02',
 'AP25545020VWPPA02',
 'AP28545021YWPPA02',
 'AP31535021WWPPA02',

In [76]:
data = data.loc[data['Material'].isin(list(data_zeroes["Material"])) == False]

In [77]:
data

                  Material       Date  time_idx  sum_groupby_timeindx_material
0        AL19550015VAL4A00 2021-03-01        25                             97
1        AP21560017TC2SA00 2021-03-01        25                            688
8        AL26560018HHT2A00 2020-06-01        16                              4
11       AP17565015TWTRA00 2019-10-01         8                              0
13       AL18570014TAW4A00 2020-07-01        17                              4
...                    ...        ...       ...                            ...
2948137  AP23550019VWPR202 2020-01-01        11                              0
2950459  AP20555017VWPR202 2020-02-01        12                              0
2956233  AL22555016HAXW202 2019-09-01         7                              0
2959832  AL22555016HAXW202 2019-11-01         9                              0
2960600  AI22555016TARCA20 2019-09-01         7                              0

[63936 rows x 4 columns]

In [ ]:

# Creating Month (Must be redone for Colab, maybe it dislikes being exported as CSV)
data["month"] = data.Date.dt.month.astype(str).astype("category")

# Generate Columns
data["log_volume"] = np.log(data.Volume + 1e-8)
data["avg_volume_by_material"] = data.groupby(["time_idx", "Material"], observed=True).Volume.transform("mean")
data["avg_volume_by_plant"] = data.groupby(["time_idx", "Plant"], observed=True).Volume.transform("mean")
# Enumerate groups as timeseries 
data = data.assign(
    timeseries=pd.factorize(list(zip(
        *[data[c].values.tolist() for c in ['Plant', 'Material']]
    )))[0] + 1
)
# Remove NaN rows
data = data[data['Material'].notna()]

In [ ]:
data

,Plant,Material,Volume,Date,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries
0,5V01,AL19550015VAL4A00,1,2021-03-01,25,3,1.000000e-08,5.388889,6.826336,1
1,5V24,AP21560017TC2SA00,0,2021-03-01,25,3,-1.842068e+01,34.400000,0.000000,2
3,5V06,AP26545021WWPPA02,0,2019-07-01,5,7,-1.842068e+01,0.000000,10.465589,3
8,5V13,AL26560018HHT2A00,0,2020-06-01,16,6,-1.842068e+01,0.444444,0.640081,4
10,5V01,AP20555017VSN5AQ0,0,2020-10-01,20,10,-1.842068e+01,0.000000,10.802004,5
...,...,...,...,...,...,...,...,...,...,...
2961491,5V16,AP23540019YUSAA02,0,2021-08-01,30,8,-1.842068e+01,10.578947,5.883495,24069
2961494,5V30,AP23540019YUSAA02,0,2020-09-01,19,9,-1.842068e+01,2.052632,2.982181,19709
2961497,5V32,AP25555020VWPPA02,0,2021-04-01,26,4,-1.842068e+01,0.000000,0.551871,17761
2961499,5V27,AP25555019WQT5A02,0,2021-03-01,25,3,-1.842068e+01,0.000000,0.000000,34944
2961500,5V18,AP18565015TTT2A00,0,2021-02-01,24,2,-1.842068e+01,0.823529,0.747530,32933

In [ ]:
# FIlter by Actual Sales
data = data.loc[data['FieldID'] == 'ACTSLS'] 
# Drop un-needed Columns
data.drop(['FieldID', 'Field', 'PlanningPeriod', 'PeriodDiff'], axis=1, inplace=True)
# Rename Columns
data.rename(columns={'FieldContent':'Volume'}, inplace=True)
data.rename(columns={'PlannedPeriod':'Date'}, inplace=True)
cols = [
    'Plant',
    'Material',
    'Volume',
    'Date',
    ]
# Rearrange Columns
data = data[cols]
# Date column to Datetime format
data['Date']= pd.to_datetime(data['Date'])
# Time Index from Dates
data["time_idx"] = data["Date"].dt.year * 12 + data["Date"].dt.month
data["time_idx"] -= data["time_idx"].min()
# Creating Month (Must be redone for Colab, maybe it dislikes being exported as CSV)
data["month"] = data.Date.dt.month.astype(str).astype("category")
# Set Volums lower than 0 to 0
data.Volume=data.Volume.mask(data.Volume.lt(0),0)
# Generate Columns
data["log_volume"] = np.log(data.Volume + 1e-8)
data["avg_volume_by_material"] = data.groupby(["time_idx", "Material"], observed=True).Volume.transform("mean")
data["avg_volume_by_plant"] = data.groupby(["time_idx", "Plant"], observed=True).Volume.transform("mean")
# Enumerate groups as timeseries 
data = data.assign(
    timeseries=pd.factorize(list(zip(
        *[data[c].values.tolist() for c in ['Plant', 'Material']]
    )))[0] + 1
)
# Remove NaN rows
data = data[data['Material'].notna()]

In [ ]:
data.groupby(["timeseries"], observed=True).Volume.transform("sum") != 0

In [ ]:
data

,Plant,Material,Volume,Date,SalesTargetGroup,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries
0,5M01,AI15570013TARCA20,0,2019-02-01,510,0,2,-18.420681,0.894737,4.137127,1
1,5M01,AI15570013TARCA20,0,2019-03-01,510,1,3,-18.420681,2.631579,5.976697,1
2,5M01,AI15570013TARCA20,0,2019-04-01,510,2,4,-18.420681,0.000000,3.653115,1
3,5M01,AI15570013TARCA20,0,2019-05-01,510,3,5,-18.420681,0.000000,3.689889,1
4,5M01,AI15570013TARCA20,0,2019-06-01,510,4,6,-18.420681,0.421053,4.761486,1
...,...,...,...,...,...,...,...,...,...,...,...
17180971,5V21,TT38652264TT3RTA0,0,2021-09-01,5A4,31,9,-18.420681,0.000000,2.284550,204536
17180972,5V21,TT38652264TT3RTA0,0,2021-10-01,5A4,32,10,-18.420681,0.000000,2.233365,204536
17180973,5V21,TT38652264TT3RTA0,0,2021-11-01,5A4,33,11,-18.420681,0.000000,3.511848,204536
17180974,5V21,TT38652264TT3RTA0,0,2021-12-01,5A4,34,12,-18.420681,0.000000,1.894408,204536
17180975,5V21,TT38652264TT3RTA0,0,2022-01-01,5A4,35,1,-18.420681,0.000000,0.000000,204536

In [ ]:
data["time_idx"].max()

35

In [ ]:
data.Volume=data.Volume.mask(data.Volume.lt(0),0)

In [ ]:
def non_norm(data):
    timeseries_list= list(set(data["timeseries"]))
    non_norm = []
    for timeseries in timeseries_list:
        if len(data[data['timeseries'] == timeseries]) != 36:
            non_norm.append(timeseries)
    return non_norm

In [ ]:
non_norm(data)

[]

In [ ]:
data["Volume"].min()

0

In [ ]:
np.log(data["Volume"].max() + 1e-8)

9.869413572202895

In [ ]:
def prCyan(skk): print("\033[96m {}\033[00m" .format(skk))

def uniques(category):    
    category_counts = data[category].value_counts()
    print("The number of unique values in column \"" + str(category) + "\" is: ", end = '')
    prCyan(str(len(category_counts)))
    print(category_counts.max())
    return category_counts

In [ ]:
uniques("timeseries")

The number of unique values in column "timeseries" is:  204536
36

1         36
136350    36
136352    36
136353    36
136354    36
          ..
68182     36
68183     36
68184     36
68185     36
204536    36
Name: timeseries, Length: 204536, dtype: int64

In [ ]:
data.to_csv('aggregate_by_plant.csv')

In [ ]:
data = pd.read_csv('./final_preprocessed_Data.csv')

In [ ]:
data

,Unnamed: 0,Plant,Material,Volume,Date,SalesTargetGroup,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries
0,0,5M01,AI15570013TARCA20,0,2019-02-01,510,0,2,-18.420681,0.894737,4.139019,1
1,1,5M01,AI15570013TARCA20,0,2019-03-01,510,1,3,-18.420681,2.631579,5.979067,1
2,2,5M01,AI15570013TARCA20,0,2019-04-01,510,2,4,-18.420681,0.000000,3.668722,1
3,3,5M01,AI15570013TARCA20,0,2019-05-01,510,3,5,-18.420681,0.000000,3.691088,1
4,4,5M01,AI15570013TARCA20,0,2019-06-01,510,4,6,-18.420681,0.421053,4.763329,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7363291,17180971,5V21,TT38652264TT3RTA0,0,2021-09-01,5A4,31,9,-18.420681,0.000000,2.287393,204536
7363292,17180972,5V21,TT38652264TT3RTA0,0,2021-10-01,5A4,32,10,-18.420681,0.000000,2.234502,204536
7363293,17180973,5V21,TT38652264TT3RTA0,0,2021-11-01,5A4,33,11,-18.420681,0.000000,3.513744,204536
7363294,17180974,5V21,TT38652264TT3RTA0,0,2021-12-01,5A4,34,12,-18.420681,0.000000,1.901611,204536
7363295,17180975,5V21,TT38652264TT3RTA0,0,2022-01-01,5A4,35,1,-18.420681,0.000000,0.000000,204536

In [ ]:
data['Plant'].isnull().sum()

0

In [ ]:
data[data['avg_volume_by_plant'].isnull() == True]

Empty DataFrame
Columns: [Plant, Material, Volume, Date, SalesTargetGroup, time_idx, month, log_volume, avg_volume_by_material, avg_volume_by_plant, timeseries]
Index: []

In [ ]:
data = data[data['Material'].notna()]

In [ ]:
data[data['avg_volume_by_plant'].isnull() == True]

Empty DataFrame
Columns: [Unnamed: 0, Plant, Material, Volume, Date, SalesTargetGroup, time_idx, month, log_volume, avg_volume_by_material, avg_volume_by_plant, timeseries]
Index: []